<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>

<body>
  <div th:fragment="script">
    
     <!-- Include your JS scripts -->
       <!-- Bootstrap JS and dependencies -->
  
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <script th:src="@{/libs/jquery/dist/jquery.min.js}"></script>
     <script th:src="@{/js/jquery.ui.touch-punch-improved.js}"></script>
     <script th:src="@{/js/jquery-ui.min.js}"></script>
     <!-- Bootstrap tether Core JavaScript -->
     <script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
     <!-- slimscrollbar scrollbar JavaScript -->
     <script th:src="@{/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js}"></script>
     <script th:src="@{/extra-libs/sparkline/sparkline.js}"></script>
     <!--Wave Effects -->
     <script th:src="@{/js/waves.js}"></script>
     <!--Menu sidebar -->
     <script th:src="@{/js/sidebarmenu.js}"></script>
     <!--Custom JavaScript -->
     <script th:src="@{/js/custom.min.js}"></script>
     <!-- this page js -->
     <script th:src="@{/libs/moment/min/moment.min.js}"></script>
     <script th:src="@{/libs/fullcalendar/dist/fullcalendar.min.js}"></script>
     <script th:src="@{/js/pages/calendar/cal-init.js}"></script>

    <script th:src="@{/libs/chart/matrix.interface.js}"></script>
    <script th:src="@{/libs/chart/excanvas.min.js}"></script>
    <script th:src="@{/libs/flot/jquery.flot.js}"></script>
    <script th:src="@{/libs/flot/jquery.flot.pie.js}"></script>
    <script th:src="@{/libs/flot/jquery.flot.time.js}"></script>
    <script th:src="@{/libs/flot/jquery.flot.stack.js}"></script>
    <script th:src="@{/libs/flot/jquery.flot.crosshair.js}"></script>
    <script th:src="@{/libs/chart/jquery.peity.min.js}"></script>
    <script th:src="@{/libs/chart/matrix.charts.js}"></script>
    <script th:src="@{/libs/chart/jquery.flot.pie.min.js}"></script>
    <script th:src="@{/libs/flot.tooltip/js/jquery.flot.tooltip.min.js}"></script>
    <script th:src="@{/libs/chart/turning-series.js}"></script>
    <script th:src="@{/dist/js/pages/chart/chart-page-init.js}"></script>

  </div>

</body>
</html>
